body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #333;
}

.topo {
  background: #8B0000;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

h2 {
  color: #8B0000;
  border-bottom: 2px solid #8B0000;
  padding-bottom: 8px;
}

.lista-noticias li {
  margin-bottom: 10px;
}

.link-instagram {
  color: #8B0000;
  font-weight: bold;
}

.botao {
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 10px 20px;
  background: #8B0000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.botao:hover {
  background: #a50000;
}

/* GALERIA */
.galeria {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding: 10px;
}

.item {
  width: 180px;
  height: 320px;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
}

.item img,
.item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup:target {
  display: flex;
}

.popup-box {
  width: 320px;
  aspect-ratio: 9 / 16;
  background: black;
  border-radius: 12px;
  overflow: hidden;
}

.popup-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

.fechar {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 28px;
  color: white;
  text-decoration: none;
}

footer {
  background: #8B0000;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .item {
    width: 150px;
    height: 260px;
  }
}



















